In [4]:
import os 
os.chdir(r"D:\gechengcheng3\Downloads")
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv(r"gcc_cat_new_20200805174531.csv",sep="\t",encoding="utf8")
data.head()

,dt,dept_id,dept_name,jd_cate_id_1,jd_cate_name_1,jd_cate_id_2,jd_cate_name_2,jd_cate_id_3,jd_cate_name_3,sale,gmv
0,2019-01,33,消费品事业部,6994,宠物生活,13968,水族,13974,水族药剂,237423,1.083134e+07
1,2019-01,33,消费品事业部,6994,宠物生活,13968,水族,17322,照明设备,50828,4.848414e+06
2,2019-01,33,消费品事业部,6994,宠物生活,13968,水族,17323,滤材/配件,384954,1.809283e+07
3,2019-01,33,消费品事业部,6994,宠物生活,13968,水族,17324,海水用品,150794,3.275979e+06
4,2019-01,33,消费品事业部,6994,宠物生活,14374,宠物活体,14376,猫咪活体,0,0.000000e+00

In [16]:
data_mean_product_price = data.groupby(["dt"])["sale","gmv"].agg([np.sum])
data_mean_product_price.columns

MultiIndex(levels=[['sale', 'gmv'], ['sum']],
           labels=[[0, 1], [0, 0]])

In [ ]:
data_mean_product_price["mean_price"] = data_mean_product_price[""]